{%extends 'core/index.html'%}
{%load static%}
{%block metatag%}


<meta name="title" content="{{activitys_name}} - {{clubinfo.sort_name}}">
<meta name="description" content="Find the latest news and information on the top stories.{{clubinfo.meta_description}}">



<meta property="og:image" content="{% if clubinfo.landing_picture %}{{clubinfo.landing_picture.url}}{%endif%}">
<meta property="og:title" content="{{activitys_name}} - {{clubinfo.sort_name}}">
<meta property="og:description" content="Find the latest news and information on the top stories.">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{activitys_name}} - {{clubinfo.sort_name}}">
<meta name="twitter:description" content="Find the latest news and information on the top stories.">
<meta name="twitter:image" content="{% if clubinfo.landing_picture %}{{clubinfo.landing_picture.url}}{%endif%}">


<title>{{activitys_name}} - {{clubinfo.sort_name}} </title>

{%endblock%}
{%block body%}
<style>
    
    .card-title{
        font-size: 1.7rem;
    }

    .news-artical-img{
        width: 100%; 
        height: 100%; 
        max-width: 300px;                   
        object-fit: contain ; 
        object-position: center; 
    }

    p.card-text{
        font-size: 1.2rem;
    }


    .font-cb {
        color: #000000;
    }


    .font-w500-lh47 {
        font-weight: 500;
        line-height: 47px;
    }




    .c-img img {
        width: 278px;
        height: 208px;
    }

    .c-header {
        font-family: var(--font_family);
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        /* color: #000000; */
        white-space: pre-wrap;
    }

    .c-body {
        font-family: var(--font_family);
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #3E3E3E;
        padding: 10px 0 10px 0;
        max-width: 320px;


    }

    .c-btn {
        width: 102px;
        height: 30px;
        color: var(--text_in_primary);
        padding-top: 3px;
        background: var(--primary);
        border-radius: 4px;
    }



    
  

 
</style>

{%with banner_title=activitys_name%}
{%include 'lending_pic.html'%}
{%endwith%}





<section class="recent-post container mb-5">

    <div class="recent-post-h1  fs-4 fs-lg-3  font-cb font-w500-lh47 mt-3 ">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="d-none" style=" border-bottom: 0.5px solid #353535; padding-bottom: 3px;"> {{activitys_name}}</h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
    </div>
    <div class="row">
        
        <!-- post -->
        <div class="col-lg-8">

            <!--  posts iterms  -->
            
            <div class="row">
                {% for object in object_list %}
                <article class="col-sm-12 mb-4">
                  <div class="" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body d-flex flex-column flex-md-row">
                        
                        <div class="col-sm-4 row justify-content-center">

                            <img src="{%if object.picture %} {{object.picture.url}}{%endif %}" 
                            alt="pic"
                            srcset="" 
                            class="news-artical-img"
                            title="{{object.title}}"
                            
                                />
                                
                                
                        </div>
                        <div class="col-sm-8 mx-4" >

                            <div class="news-date">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                    class="bi bi-calendar-week" viewBox="0 0 16 16">
                                    <path
                                        d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                                <small>
                                    {{object.created}}
                                </small>
                            </div>

                            <h2 class="card-title">{{object.title}}</h2>
                            <p class="card-text" style="word-break: break-all;">{{object.shortDescription}}</p>
                            <div class="c-footer">
                              <a href="{{object.get_absolute_url}}" title="Read more about {{object.title}}">
                                  <div class="c-btn primary-btn text-center" >Read More</div>
                              </a>
                            </div>
                        </div>
                    </div>
                  </div>
                </article>
                
                <!-- post iteams end -->
                {%empty%}
                <h5>
                    Not found.
                </h5>

                {% endfor %}
              </div>
           
            

            

            {% if object_list.has_other_pages %}
            <nav aria-label="Page navigation "></nav>
            <ul class="pagination ">
                {% if object_list.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}"
                        tabindex="-1">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in object_list.paginator.page_range %}
                {% if object_list.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span> </span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if object_list.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
                {% endif %}
            </ul>
            </nav>
            {% endif %}


        </div>
        <!-- post end -->
        <!-- side bar  -->
        <div class="col-lg-4 mt-5 mt-lg-0 " style="overflow: hidden;">

            {%include 'core/components/newsletter.html'%}
            {%include 'core/components/follow-socal-link.html'%}
            {%with sub_title="Top News"%}
            {%include 'core/components/top_post.html'%}
            {%endwith%}

          


        </div>
        <!-- side bar end -->
    </div>

</section>
<br>


{%endblock body%}



<!--  -->