{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}


{% block field_sets %}



<style>

.field-select{

    overflow: visible;
}



body{

    background: var(--body-bg) !important;

    color: var(--body-fg) !important;
}

.submit-row a.deletelink {
    height: 36px;
}
</style>



<!-- 
{{original}}
{{object_id}} -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


{% for fieldset in adminform %}

<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
    <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
    <div
        class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %}  field-{{ field.field.name }}   {%if field.field.field.widget.input_type == 'select'%}field-select{%endif%}  {% endif %}{% endfor %}"
        
        
        >
        {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
        {% for field in line %}
        <div{% if not line.fields|length_is:'1' %}
            class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"
            {% elif field.is_checkbox %} class="checkbox-row" {% endif %}>
            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
            {% if field.is_checkbox %}
            {{ field.field }}{{ field.label_tag }}
            {% else %}
            {{ field.label_tag }}

            <!-- {{field.field.field.widget.input_type}} -->

            {%with field.field as formField%}

            
            <!-- {{formField.widget.input_type}} -->

           

            {%if formField.field.widget.input_type == 'select' %}

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

          
            <select class="" name="{{formField.name}}" id="id_{{formField.name}}" {% for name, value in formField.field.widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
            
                {%for choice in formField.field.widget.choices%}
                <option value="{{choice.0}}" {%if choice.0 in formField.value%} selected {%endif%}>{{choice.1}}</option>
                {%endfor%}
            </select>

         
       
            <script>


            
            $(document).ready(function () {


            
            
                $('#id_{{formField.name}}').dropdown({

                    {%if formField.field.widget.attrs.multiple%}
                    allowAdditions:   true
                
                    {%endif%}
                
                });
                
              
            });
            
            
            </script>

            {%else%}



                {% if field.is_readonly %}
                    <div class="readonly">{{ field.contents }}</div>
                {% else %}
                    {{ field.field }}
                {% endif %}


            {%endif%}

            {%endwith%}

            {% endif %}
            {% if field.field.help_text %}
            <div class="help">{{ field.field.help_text|safe }}</div>
            {% endif %}
    </div>
    {% endfor %}
    </div>
    {% endfor %}
</fieldset>

{% endfor %}
{% endblock %}



{% block after_related_objects %}

{% endblock %}




{% block footer %}







{% endblock %}