{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{clubinfo.name}}">
    <meta name="description" content="not found">
    <meta name="keywords" content="{{clubinfo.sort_name}},lastcoder,tumzied">
    <title>Not found</title>

    <style>
        body {

            background-image: url('/static/img/undraw_not_found_-60-pq.svg');

            background-position: center;

            background-size: contain;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
        }
        .not-found-title{

            text-align: center;
    font-family: monospace;
    position: relative;
    top: 15rem;
    text-shadow: -1px 2px 3px #727d97;;
        }
    </style>
</head>

<body>


    <h1 class="not-found-title">Page Not Found!</h1>



</body>

</html>